# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
it.imt.erode.crn.platform.linux32.feature
it.imt.erode.crn.platform.win32.feature
it.imt.erode.crn.product.linux32
it.imt.erode.crn.product.win32
it.imt.erode.crn.product.macosx/bin
it.imt.erode.crn.product.win64/bin/dummy
it.imt.erode.crn.product/bin/dummy
it.imt.erode.crn.ide/bin

it.imt.erode.crn.ide/bin
it.imt.erode.crn.product.linux64/bin
it.imt.erode.crn.product.macosx/bin
it.imt.erode.crn.product.win64/bin
it.imt.erode.crn.product/bin
it.imt.erode.crn/bin
it.imt.erode.crn.tests/test-bin
it.imt.erode.crn.tests/src-gen/*
it.imt.erode.crn.tests.ui/src-gen/*
it.imt.erode/hTreeCircuit21.ode
it.imt.erode/hTreeCircuit22.ode
it.imt.erode/hTreeCircuit23.ode
testbd/.classpath
testbd/.project
testbd/.settings/org.eclipse.jdt.core.prefs
testbd/src/testbd/MainTest.java
testbd/src/testbd/MyBigDecimal.java
it.imt.erode/bin/it/imt/erode/utopic/vnodelp/thirdToFourth.txt
it.imt.erode/bin/it/imt/erode/utopic/vnodelp/third.txt
it.imt.erode/bin/it/imt/erode/utopic/vnodelp/second.txt
it.imt.erode/bin/it/imt/erode/utopic/vnodelp/fourth.txt
it.imt.erode/bin/it/imt/erode/utopic/vnodelp/firstToSecond.txt
it.imt.erode/bin/it/imt/erode/utopic/vnodelp/first.txt
it.imt.erode/bin/it/imt/erode/utopic/pontryagin.txt
it.imt.erode/bin/it/imt/erode/utopic/pointryaginScript.txt
it.imt.erode/bin/it/imt/erode/utopic/Pointry_reach_setOLDNONParametricInTheSpecies.txt
it.imt.erode/bin/it/imt/erode/utopic/Pointry_reach_set.txt
it.imt.erode/bin/it/imt/erode/utopic/initpontryagin.txt
it.imt.erode/bin/it/imt/erode/utopic/CORA_reach_set.txt
it.imt.erode/bin/it/imt/erode/utopic/converginpontryiagin/plot.txt
it.imt.erode/bin/it/imt/erode/utopic/converginpontryiagin/endOfMainFunction.txt
it.imt.erode/bin/it/imt/erode/utopic/bottomFunctions.txt
it.imt.erode/bin/it/imt/erode/utopic/algo_pointryagin.txt
it.imt.erode/bin/it/imt/erode/simulation/deterministic/apachecommons/CRNVectorField.txt
it.imt.erode/bin/it/imt/erode/onthefly/algorithm/onthefly.pdf
it.imt.erode/bin/it/imt/erode/onthefly/algorithm/Giovanni @ Aalborg Universitet 1.pdf
it.imt.erode/bin/it/imt/erode/importing/flowstar/sites8.txt
it.imt.erode/bin/it/imt/erode/importing/flowstar/sites7.txt
it.imt.erode/bin/it/imt/erode/importing/flowstar/sites6.txt
it.imt.erode/bin/it/imt/erode/importing/flowstar/sites5.txt
it.imt.erode/bin/it/imt/erode/importing/flowstar/sites3.txt
it.imt.erode/bin/it/imt/erode/importing/flowstar/sites2.txt
it.imt.erode/bin/it/imt/erode/importing/epsilonBoundScript.txt
it.imt.erode/bin/it/imt/erode/importing/epsCLumpSingle.txt
it.imt.erode/bin/it/imt/erode/importing/epsCLumpForScriptsOld.txt
it.imt.erode/bin/it/imt/erode/importing/epsCLumpForScriptsMoreEps.txt
it.imt.erode/bin/it/imt/erode/importing/epsCLumpForMaxErrorSlopeOld.txt
it.imt.erode/bin/it/imt/erode/importing/epsCLumpForMaxErrorSlope.txt
it.imt.erode/bin/it/imt/erode/importing/epsCLumpCommon.txt
it.imt.erode/bin/it/imt/erode/importing/epsCLump_eps2Clump.txt
it.imt.erode/bin/it/imt/erode/commandline/necessaryNativeSources/libz3OLD.dylib
it.imt.erode/bin/it/imt/erode/commandline/necessaryNativeSources/libz3javaOLD.dylib
it.imt.erode/bin/it/imt/erode/commandline/necessaryNativeSources/libz3java.dylib
it.imt.erode/bin/it/imt/erode/commandline/necessaryNativeSources/libz3.dylib
it.imt.erode/bin/it/imt/erode/commandline/necessaryNativeSources/libjniODE.jnilib
it.imt.erode/bin/it/imt/erode/commandline/necessaryNativeSources/libjniDAE.jnilib
it.imt.erode/bin/it/imt/erode/cage/begin.txt
it.imt.erode/bin/it/imt/erode/cage/algorithm.txt
sbmlqualimporter/src/sbml/demos/TransitionPrinter.java
sbmlqualimporter/src/sbml/demos/SpeciesPrinter.java
sbmlqualimporter/src/sbml/demos/SBMLExporter.java
sbmlqualimporter/src/sbml/demos/JSBMLWritingDemo.java
sbmlqualimporter/src/sbml/demos/JSBMLvisualizer.java
sbmlqualimporter/src/sbml/demos/JSBMLReadingDemo.java
sbmlqualimporter/src/sbml/demos/ErodeExporter.java
sbmlqualimporter/src/sbml/demos/ASTNodeLinking.java
sbmlqualimporter/src/sbml/demos/ASTNodeCreationDemo.java
sbmlqualimporter/src/sbml/conversion/transitions/TransitionWriter.java
sbmlqualimporter/src/sbml/conversion/transitions/TransitionReader.java
sbmlqualimporter/src/sbml/conversion/transitions/TransitionManager.java
sbmlqualimporter/src/sbml/conversion/transitions/TransitionConverter.java
sbmlqualimporter/src/sbml/conversion/transitions/TransitionBuilder.java
sbmlqualimporter/src/sbml/conversion/transitions/OutputBuilder.java
sbmlqualimporter/src/sbml/conversion/transitions/ITransitionConverter.java
sbmlqualimporter/src/sbml/conversion/transitions/InputBuilder.java
sbmlqualimporter/src/sbml/conversion/species/SpeciesWriter.java
sbmlqualimporter/src/sbml/conversion/species/SpeciesReader.java
sbmlqualimporter/src/sbml/conversion/species/SpeciesManager.java
sbmlqualimporter/src/sbml/conversion/species/SpeciesConverter.java
sbmlqualimporter/src/sbml/conversion/species/SBMLSpeciesBuilder.java
sbmlqualimporter/src/sbml/conversion/species/ISpeciesConverter.java
sbmlqualimporter/src/sbml/conversion/species/ErodeSpeciesBuilder.java
sbmlqualimporter/src/sbml/conversion/qualmodel/QualModelWriter.java
sbmlqualimporter/src/sbml/conversion/qualmodel/QualModelReader.java
sbmlqualimporter/src/sbml/conversion/qualmodel/QualModelManager.java
sbmlqualimporter/src/sbml/conversion/qualmodel/QualModelConverter.java
sbmlqualimporter/src/sbml/conversion/qualmodel/IQualModelConverter.java
sbmlqualimporter/src/sbml/conversion/nodes/value/ValueWriter.java
sbmlqualimporter/src/sbml/conversion/nodes/value/ValueReader.java
sbmlqualimporter/src/sbml/conversion/nodes/value/ValueASTConverter.java
sbmlqualimporter/src/sbml/conversion/nodes/unary/UnaryWriter.java
sbmlqualimporter/src/sbml/conversion/nodes/unary/UnaryReader.java
sbmlqualimporter/src/sbml/conversion/nodes/unary/UnaryASTConverter.java
sbmlqualimporter/src/sbml/conversion/nodes/operators/SBMLOperator.java
sbmlqualimporter/src/sbml/conversion/nodes/operators/IOperator.java
sbmlqualimporter/src/sbml/conversion/nodes/operators/ErodeOperator.java
sbmlqualimporter/src/sbml/conversion/nodes/operators/ASTNodeBuilder.java
sbmlqualimporter/src/sbml/conversion/nodes/NodeManager.java
sbmlqualimporter/src/sbml/conversion/nodes/NodeConverter.java
sbmlqualimporter/src/sbml/conversion/nodes/INodeConverter.java
sbmlqualimporter/src/sbml/conversion/nodes/elements/SBMLElement.java
sbmlqualimporter/src/sbml/conversion/nodes/elements/IElement.java
sbmlqualimporter/src/sbml/conversion/nodes/elements/ErodeElement.java
sbmlqualimporter/src/sbml/conversion/nodes/binary/BinaryWriter.java
sbmlqualimporter/src/sbml/conversion/nodes/binary/BinaryReader.java
sbmlqualimporter/src/sbml/conversion/nodes/binary/BinaryASTConverter.java
sbmlqualimporter/src/sbml/conversion/model/ModelWriter.java
sbmlqualimporter/src/sbml/conversion/model/ModelReader.java
sbmlqualimporter/src/sbml/conversion/model/ModelManager.java
sbmlqualimporter/src/sbml/conversion/model/ModelConverter.java
sbmlqualimporter/src/sbml/conversion/model/IModelConverter.java
sbmlqualimporter/src/sbml/conversion/functionterm/FunctionTermWriter.java
sbmlqualimporter/src/sbml/conversion/functionterm/FunctionTermReader.java
sbmlqualimporter/src/sbml/conversion/functionterm/FunctionTermBuilder.java
sbmlqualimporter/src/sbml/conversion/document/SBMLManager.java
sbmlqualimporter/src/sbml/conversion/document/SBMLConverter.java
sbmlqualimporter/src/sbml/conversion/document/ISBMLConverter.java
sbmlqualimporter/src/sbml/conversion/document/DocumentWriter.java
sbmlqualimporter/src/sbml/conversion/document/DocumentReader.java
sbmlqualimporter/src/sbml/configurations/Strings.java
sbmlqualimporter/src/sbml/configurations/SBMLConfiguration.java
sbmlqualimporter/lib/jsbml-1.5-with-dependencies.jar
sbmlqualimporter/lib/erode.jar
sbmlqualimporter/lib/annotations-12.0.jar
sbmlqualimporter/demo/Trp_reg.sbml
sbmlqualimporter/demo/DemoSBMLFile.sbml
sbmlqualimporter/demo/DemoNetwork.sbml
sbmlqualimporter/demo/DemoNetwork.ode
sbmlqualimporter/demo/CorticalAreaDevelopment.sbml
sbmlqualimporter/.settings/org.eclipse.jdt.core.prefs
sbmlqualimporter/.project
sbmlqualimporter/.classpath
it.imt.erode/.DS_Store
it.imt.erode/bin/it/.DS_Store
it.imt.erode/bin/it/imt/.DS_Store
it.imt.erode/bin/it/imt/erode/.DS_Store
it.imt.erode/bin/it/imt/erode/booleannetwork/.DS_Store
it.imt.erode/bin/.DS_Store
it.imt.erode/bin/it/imt/erode/booleannetwork/bnetparser/createQuaTExParser.sh
it.imt.erode/bin/it/imt/erode/booleannetwork/bnetparser/MultiQuaTExParser.jj
it.imt.erode/lib/.DS_Store
it.imt.erode/lib/or_tools/.DS_Store
it.imt.erode/src/.DS_Store
it.imt.erode/src/it/.DS_Store
it.imt.erode/src/it/imt/.DS_Store
it.imt.erode/src/it/imt/erode/.DS_Store
it.imt.erode/src/it/imt/erode/booleannetwork/.DS_Store
or_tools/bin/.DS_Store
or_tools/src/.DS_Store
it.imt.erode.crn/.DS_Store
it.imt.erode.crn/src/it/imt/erode/.DS_Store
it.imt.erode/src/it/imt/erode/importing/.DS_Store
.DS_Store
