# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
it.imt.erode.crn.platform.linux32.feature
it.imt.erode.crn.platform.win32.feature
it.imt.erode.crn.product.linux32
it.imt.erode.crn.product.win32
it.imt.erode.crn.product.macosx/bin
it.imt.erode.crn.product.win64/bin/dummy
it.imt.erode.crn.product/bin/dummy
it.imt.erode.crn.ide/bin

it.imt.erode.crn.ide/bin
it.imt.erode.crn.product.linux64/bin
it.imt.erode.crn.product.macosx/bin
it.imt.erode.crn.product.win64/bin
it.imt.erode.crn.product/bin
it.imt.erode.crn/bin
it.imt.erode.crn.tests/test-bin
it.imt.erode.crn.tests/src-gen/*
it.imt.erode.crn.tests.ui/src-gen/*
it.imt.erode/hTreeCircuit21.ode
it.imt.erode/hTreeCircuit22.ode
it.imt.erode/hTreeCircuit23.ode
